<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.github.syncservice">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
      <service android:name=".SyncService"
	       android:enabled="true"
	       android:exported="true">
      </service>
      <!--
      <receiver android:name=".BootReceiver"
		android:enabled="true"
		android:exported="true">
	<intent-filter>
	  <action android:name="android.intent.action.BOOT_COMPLETED" />
	</intent-filter>
	</receiver>
      -->
      <receiver android:name=".FakeBootReceiver"
		android:enabled="true"
		android:exported="true">
	<intent-filter>
	  <action android:name="android.intent.action.FAKE_BOOT_COMPLETED" />
	  <action android:name="android.intent.action.FAKE_SHUTDOWN" />
	</intent-filter>
      </receiver>
    </application>
</manifest>
